
$primary-color: #11afa8;
.menu {
    position: fixed;
    bottom: 0;
    background-color: $primary-color;
    width: 100%;
    margin-right: 0;
    right: 0;
    height: 4rem;
    z-index: 100;
    padding-top: 0.7rem;
    padding-right: 0.7rem;
    text-align: center;
}
.header{
    position: fixed;
    top: 0;
    background-color: $primary-color;
    width: 100%;
    margin-right: 0;
    right: 0;
    height: 4rem;
    z-index: 100;
    padding-top: 0.7rem;
    padding-right: 0.7rem;
    text-align: center;
}
::ng-deep .p-scrolltop.p-button{
    right: 10px  !important;
    bottom: 14px !important;
}