$primary-color: #11afa8;

.menu {
    position: fixed;
    bottom: 0;
    background-color: $primary-color;
    width: 100%;
    margin-right: 0;
    right: 0;
    height: 4rem;
    z-index: 100;
    padding-top: 0.7rem;
    padding-right: 0.7rem;
    text-align: center;
}

.header {
    position: fixed;
    top: 0;
    background-color: $primary-color;
    width: 100%;
    margin-right: 0;
    right: 0;
    height: 4rem;
    z-index: 100;
    padding-top: 0.7rem;
    padding-right: 0.7rem;
    text-align: center;
}

::ng-deep .p-scrolltop.p-button {
    right: 10px !important;
    bottom: 4.5rem !important;
}

.shadow-up {
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2) !important;
}

::ng-deep .p-toggleswitch.p-toggleswitch-checked .p-toggleswitch-slider{
    background: white !important;
}

::ng-deep .p-toggleswitch:not(.p-disabled):has(.p-toggleswitch-input:hover) .p-toggleswitch-slider{
    background: black !important;

}
.flipped-icon {
    transform: scaleX(-1);
    display: inline-block; /* لازمه برای transform کار کنه */
  }