@if(formGroup){
<div class="mb-3">
    @if(memberId){
    <strong>فرم همراه</strong>
    }@else{
    <strong>فرم زائر اصلی</strong>
    }
</div>
<p-divider></p-divider>
<form [formGroup]="formGroup">
    @for (field of fields; track $index) {
    <div class="mb-4">
        @if($index!=0){
        <!-- <p-divider></p-divider> -->
        }

        @if(field.fieldTypeId==FIELD_TYPE_ENUM.CheckBox){
        <div>
            <div>
                @if(field.mandatory){
                <span class="text-red-500">*</span>
                }
                {{field.title}}
            </div>
            <div class="grid">
                @for(option of field.optionsToShow; track $index){
                <div class="col-6">
                    <p-checkbox inputId="field_{{field.id}}_{{option.id}}" name="pizza" [value]="option.id"
                        formControlName="field_{{field.id}}" />
                    <label for="field_{{field.id}}_{{option.id}}" class="ml-2"> {{option.title}} </label>
                </div>
                }
            </div>
        </div>
        }@else if(field.fieldTypeId==FIELD_TYPE_ENUM.Date){
        <div>
            <ng-persian-datepicker uiInitViewMode="year" [dateMin]="field.minDate" [dateMax]="field.maxDate"
                [dateInitValue]="false" [uiTodayBtnEnable]="false">
                <label for="field_{{field.id}}">
                    @if(field.mandatory){<span class="text-red-500">*</span>}
                    {{field.title}}
                </label>
                <input class="w-full" formControlName="field_{{field.id}}" pInputText id="field_{{field.id}}"
                    autocomplete="off" />
            </ng-persian-datepicker>
        </div>
        }@else if(field.fieldTypeId==FIELD_TYPE_ENUM.DropDown){
        <p-floatlabel class=" card flex justify-center" variant="on">
            <p-select [appendTo]="'self'" id="field_{{field.id}}" [options]="field.optionsToShow" optionLabel="title"
                optionValue="id" [checkmark]="true" [showClear]="true" class="w-full"
                formControlName="field_{{field.id}}" />
            <label for="field_{{field.id}}">
                @if(field.mandatory){<span class="text-red-500">*</span>}
                {{field.title}}
            </label>
        </p-floatlabel>
        }@else if(field.fieldTypeId==FIELD_TYPE_ENUM.Image){
        <div>
            <label for="field_{{field.id}}">
                @if(field.mandatory){<span class="text-red-500">*</span>}
                {{field.title}}(حداکثر: {{field.maxSizeInMB}}MB)
            </label>
            @if(!formIsDisable){
            <input [disabled]="formIsDisable" (change)="imageSelected($event,field)" accept="Image/*"
                id="field_{{field.id}}" [hidden]="true" #fileInput type="file" formControlName="field_{{field.id}}">
            <p-button [disabled]="formIsDisable" icon="pi pi-upload" styleClass="upload-button"
                (onClick)="fileInput.click()">انتخاب
                فایل</p-button>
            @if(field.imageBase64){
            <div class="mt-2">
                <img class="shadow-5" width="100%" [src]="field.imageBase64">
            </div>
            }
            }
            @else if(field.imageSource) {
            <div>
                <img class="shadow-5" width="100%" [src]="field.imageSource">
            </div>
            }
        </div>
        }@else if(field.fieldTypeId==FIELD_TYPE_ENUM.Mobile){
        <p-floatlabel variant="on">
            <input class="w-full" pInputText id="field_{{field.id}}" formControlName="field_{{field.id}}"
                autocomplete="off" />
            <label for="field_{{field.id}}">
                @if(field.mandatory){<span class="text-red-500">*</span>}
                {{field.title}}
            </label>
        </p-floatlabel>
        }@else if(field.fieldTypeId==FIELD_TYPE_ENUM.NationalCode){
        <div>
            <input class="w-full" pInputText id="field_{{field.id}}" formControlName="field_{{field.id}}"
                autocomplete="off" />
            <label for="field_{{field.id}}">
                @if(field.mandatory){<span class="text-red-500">*</span>}
                {{field.title}}
            </label>
        </div>
        }@else if(field.fieldTypeId==FIELD_TYPE_ENUM.Radio){
        <div class="grid ">
            <div class="col-12">
                @if(field.mandatory){<span class="text-red-500">*</span>}
                {{field.title}}
            </div>
            @for (option of field.optionsToShow; track $index) {
            <div class="col-6">
                <p-radiobutton inputId="field_{{field.id}}_{{option.id}}" [value]="option.id"
                    formControlName="field_{{field.id}}" />
                <label for="field_{{field.id}}_{{option.id}}" class="mr-2">{{ option.title }}</label>
            </div>
            }
        </div>
        }@else if(field.fieldTypeId==FIELD_TYPE_ENUM.Text){
        <p-floatlabel variant="on">
            <input class="w-full" pInputText id="field_{{field.id}}" formControlName="field_{{field.id}}"
                autocomplete="off" />
            <label for="field_{{field.id}}">
                @if(field.mandatory){<span class="text-red-500">*</span>}
                {{field.title}}
            </label>
        </p-floatlabel>

        }@else if(field.fieldTypeId==FIELD_TYPE_ENUM.TextArea){
        <p-floatlabel variant="on">
            <textarea formControlName="field_{{field.id}}" pTextarea id="field_{{field.id}}" rows="5" cols="30"
                style="resize: none" class="h-full w-full"></textarea>
            <label for="field_{{field.id}}">
                @if(field.mandatory){<span class="text-red-500">*</span>}
                {{field.title}}
            </label>
        </p-floatlabel>
        }
        @if(field.description){
        <div class="pb-3 text-gray-500" style="font-size: small;">{{field.description}}</div>
        }
    </div>
    }
    @if(!formIsDisable){
    <p-divider></p-divider>
    <div class="grid">
        <div class="col-12  text-center">
            <p-button (onClick)="checkForm()">ثبت</p-button>
        </div>
    </div>
    }
</form>
}
<p-confirmdialog position="bottom" />