<p-button (onClick)="openTransferModal()">انتقال همه موفق ها، به مرحله بعدی</p-button>
<p-dialog header="انتقال به مرحله بعد" [modal]="true" [(visible)]="showTransferModal">
    @if(nextStep){

    <div class="mt-2">مرحله بعد: {{nextStep.title}}</div>
    <div class="mt-2">انتقال به وضعیت:</div>
    <div>
        <p-selectbutton [options]="nextStep.regStepStatuses" [(ngModel)]="nextStatusId" optionLabel="title"
            optionValue="id" />
    </div>
    <div class="mt-2">
        <p-checkbox inputId="sendSms" binary="true" [(ngModel)]="sendSmsCheckbox"></p-checkbox>
        <label for="sendSms" class=" pr-2">ارسال پیامک؟</label>
    </div>
    @if(sendSmsCheckbox){
    <div class="mt-2">
        <textarea pInputText style="width: 100%;font-size: small;" [(ngModel)]="smsText"></textarea>
    </div>
    }
    <div class="flex justify-end gap-2 mt-2">
        <p-button label="انصراف" severity="secondary" (click)="showTransferModal = false" />
        <p-button label="اعمال تغییرات" (click)="transfer()" />
    </div>
    }
</p-dialog>

<p-table #dt1 [value]="applicants" dataKey="id" [size]="'small'" styleClass="text-sm"
    [globalFilterFields]="['firstName', 'lastName', 'nationalNumber', 'phoneNumber']" sortMode="multiple">
    <ng-template #caption>
        <div class="flex">
            <p-iconfield iconPosition="right" class="w-full">
                <p-inputicon>
                    <i class="pi pi-search"></i>
                </p-inputicon>
                <input pInputText [(ngModel)]="searchValue" type="text" class="w-5"
                    (input)="dt1.filterGlobal($event.target['value'], 'contains')"
                    placeholder="سرچ: نام - نام خانوادگی - کدملی - موبایل " />
                @if(searchValue){
                <i class="pi pi-filter-slash pr-2 cursor-pointer" (click)="clear()"></i>
                }
            </p-iconfield>
            <i style="font-size: xx-large;" class="pi pi-file-excel text-primary cursor-pointer float-left" (click)="exportToExcel(dt1)"></i>
        </div>
    </ng-template>
    <ng-template #header>
        <tr>
            <th>ردیف</th>
            <th pSortableColumn="status.title">وضعیت زائر<p-sortIcon field="status.title" /></th>
            <th pSortableColumn="id">آی دی<p-sortIcon field="id" /></th>
            <th pSortableColumn="inverseLeader.length">تعداد همراه <p-sortIcon field="inverseLeader.length" /></th>
            <th pSortableColumn="firstName">نام <p-sortIcon field="firstName" /></th>
            <th pSortableColumn="lastName">نام خانوادگی <p-sortIcon field="lastName" /></th>
            <th pSortableColumn="notFilledMandoryFields.length">وضعیت فرم<p-sortIcon
                    field="notFilledMandoryFields.length" /></th>
            <th pSortableColumn="nationalNumber">کد ملی <p-sortIcon field="nationalNumber" /></th>
            <th pSortableColumn="phoneNumber">شماره موبایل <p-sortIcon field="phoneNumber" /></th>
            <th pSortableColumn="createdDate">تاریخ ثبت‌نام <p-sortIcon field="createdDate" /></th>
            <th pSortableColumn="trackingCode">کد رهگیری <p-sortIcon field="trackingCode" /></th>
            <th>پیامک ها </th>
        </tr>
        <tr class="filter-div">
            <th></th>
            <th><p-columnFilter matchMode="contains" type="text" field="status.title"></p-columnFilter></th>
            <th></th>
            <th></th>
            <th><p-columnFilter matchMode="contains" type="text" field="firstName"></p-columnFilter></th>
            <th><p-columnFilter matchMode="contains" type="text" field="lastName" /></th>
            <th></th>
            <th><p-columnFilter matchMode="contains" type="text" field="nationalNumber" /></th>
            <th><p-columnFilter matchMode="contains" type="text" field="phoneNumber"></p-columnFilter></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template #body let-applicant let-index="rowIndex">
        <tr>
            <td>{{index+1}}</td>
            <td><i (click)="openChangeStatusDialog(applicant,index)"
                    class="cursor-pointer text-orange-500 pl-2 pi pi-arrow-right-arrow-left"></i>
                {{applicant.status?.title}} </td>
            <td>{{applicant.id}}</td>
            <td>@if(applicant.inverseLeader.length){<i (click)="openMembersDialog(applicant)"
                    class="pi pi-eye cursor-pointer text-primary pr-2"></i>}
                {{applicant.inverseLeader.length}}</td>
            <td>{{applicant.firstName}}</td>
            <td>{{applicant.lastName}}</td>
            <td> <span
                    [ngClass]="{'text-red-500':applicant.notFilledMandoryFields?.length,'text-green-500':!applicant.notFilledMandoryFields?.length}">{{applicant.notFilledMandoryFields?.length}}</span>
            </td>
            <td><i (click)="gotoForm(applicant)"
                    class="cursor-pointer text-primary pi pi-address-book pl-2"></i>{{applicant.nationalNumber}}</td>
            <td>{{applicant.phoneNumber}}</td>
            <td>{{applicant.createdDate|persianDate:true }}</td>
            <td>{{applicant.trackingCode}}</td>
            <td>
                @if(applicant.messages?.length){
                <i class="pi pi-envelope cursor-pointer text-yellow-700" (click)="openMessagesModal(applicant)"></i>
                }

            </td>
        </tr>
    </ng-template>
    <ng-template #emptymessage>
        <tr>
            <td colspan="7">کاربری یافت نشد</td>
        </tr>
    </ng-template>
</p-table>
<p-dialog header="تغییر وضعیت زائر" [modal]="true" [(visible)]="showChangeStatusDialog">
    @if(selectedApplicant){
    <div>
        نام و نام خانوادگی : {{selectedApplicant.firstName}}-{{selectedApplicant.lastName}}
    </div>
    <div>
        کدملی: {{selectedApplicant.nationalNumber}}
    </div>
    <div>وضعیت فعلی: {{selectedApplicant.status?.title}}</div>
    <div>تغییر وضعیت به: </div>
    <div>
        <p-selectbutton [options]="selectedRegStep.regStepStatuses" [(ngModel)]="newStatusId" optionLabel="title"
            optionValue="id" />
    </div>
    <div class="mt-2">
        <p-checkbox inputId="sendSms" binary="true" [(ngModel)]="sendSmsCheckbox"></p-checkbox>
        <label for="sendSms" class=" pr-2">ارسال پیامک؟</label>
    </div>
    @if(sendSmsCheckbox){
    <div class="mt-2">
        <textarea pInputText style="width: 100%;font-size: small;" [(ngModel)]="smsText"></textarea>
    </div>
    }

    <div class="flex justify-end gap-2 mt-2">
        <p-button label="انصراف" severity="secondary" (click)="showChangeStatusDialog = false" />
        <p-button label="اعمال تغییرات" (click)="changeStatus()" />
    </div>
    }
</p-dialog>

<p-dialog [modal]="true" [(visible)]="showFormModal" closeOnEscape="true"dismissableMask="true">
    <ng-template #header>
        <div class="grid align-center">
            <div class="col-auto">
                @if(isMember){
                فرم همراه
                }@else {
                فرم زائر اصلی
                }
            </div>
            <div class="col">
                <textarea cols="50" [(ngModel)]="applicantDescription" name="applicantDescription" pTextarea
                    style="width: 100%;font-size: x-small;"></textarea>
            </div>
            <div class="col-auto"></div>
            <p-button icon="pi pi-save" (onClick)="saveDescription($event)" size="small"></p-button>
        </div>
    </ng-template>
    @if(formData){

    <div class="grid align-center">
        <div class="col text-left">نام: </div>
        <div class="col"><input id="firstName" pInputText disabled value="{{formData['firstName']}}" /></div>
    </div>
    <div class="grid align-center">
        <div class="col text-left">نام خانوادگی: </div>
        <div class="col"><input id="lastName" pInputText disabled value="{{formData['lastName']}}" /></div>
    </div>
    <div class="grid align-center">
        <div class="col text-left">کدملی: </div>
        <div class="col"><input id="nationalCode" pInputText disabled value="{{formData['nationalNumber']}}" /></div>
    </div>
    <div class="grid align-center">
        <div class="col text-left">موبایل: </div>
        <div class="col"><input id="mobile" pInputText disabled value="{{formData['phoneNumber']}}" /></div>
    </div>
    @for (field of fieldsToShow; track $index) {
    <div class="grid align-center">
        <div class="col text-left">{{field.title}}:</div>
        <div class="col">

            @if(field.fieldTypeId==FIELD_TYPE_ENUM.Image){
            <div><img src="{{formData[field.id]}}" style="    max-width: 20rem;"></div>
            }
            @else if(field.fieldTypeId==FIELD_TYPE_ENUM.Date){
            @if(formData[field.id]){
            <input id="{{field.id}}" pInputText disabled value="{{formData[field.id]|persianDate}}" />
            }
            } @else{
            <input [ngClass]="{'w-full':field.fieldTypeId==FIELD_TYPE_ENUM.TextArea}" id="{{field.id}}" pInputText
                disabled value="{{formData[field.id]}}" />
            }
        </div>
    </div>
    }
    }
</p-dialog>
<p-dialog header="همراهان" [modal]="true" [(visible)]="showMembersDialog" closeOnEscape="true"dismissableMask="true"
    [style]="{'min-width':'50vw'}">
    @if(selectedApplicant){
    @for (member of selectedApplicant.inverseLeader; track $index) {
    <div class="grid">
        <div class="col">{{member.id}}</div>
        <div class="col">{{member.firstName}}</div>
        <div class="col">{{member.lastName}}</div>
        <div class="col">{{member.nationalNumber}}</div>
        <div class="col">{{member.phoneNumber}}</div>
        <div class="col"><i class="pi pi-address-book cursor-pointer text-primary" (click)="gotoForm(member,true)"></i>
        </div>
    </div>
    }
    }

</p-dialog>
<p-dialog header="پیامک های ارسالی" [modal]="true" [(visible)]="showMessageModal" closeOnEscape="true" dismissableMask="true"
    [style]="{'min-width':'80vw'}">
    <ng-template #header>
        پیامک های ارسال شده به {{selectedApplicant.firstName}}-{{selectedApplicant.lastName}}
    </ng-template>
    <div class="grid">
        @if(selectedApplicant?.messages)
        {

        <p-table #dtMessage [value]="selectedApplicant.messages" dataKey="id" [size]="'small'" styleClass="text-sm">
            <ng-template #header>
                <tr>
                    <th>ردیف</th>
                    <th>تاریخ</th>
                    <th>متن</th>
                    <th>وضعیت</th>
                </tr>
            </ng-template>
            <ng-template #body let-message let-index="rowIndex">
                <tr>
                    <td>{{index+1}}</td>
                    <td>{{message.createdDate|persianDate: true}}</td>
                    <td>{{message.text}}</td>
                    <td>{{(message.status==0?'موفق':'ناموفق')}}</td>
                </tr>
            </ng-template>
        </p-table>
    }

    </div>
</p-dialog>
<p-confirmpopup />