<p-table #dt1 [value]="applicants" dataKey="id" [size]="'small'" styleClass="text-sm"
    [globalFilterFields]="['firstName', 'lastName', 'nationalNumber', 'phoneNumber']" sortMode="multiple">
    <ng-template #caption>
        <div class="flex">
            <p-iconfield iconPosition="right" class="w-full">
                <p-inputicon>
                    <i class="pi pi-search"></i>
                </p-inputicon>
                <input pInputText [(ngModel)]="searchValue" type="text" class="w-5"
                    (input)="dt1.filterGlobal($event.target['value'], 'contains')"
                    placeholder="سرچ: نام - نام خانوادگی - کدملی - موبایل " />
                @if(searchValue){
                <i class="pi pi-filter-slash pr-2 cursor-pointer" (click)="clear()"></i>
                }
            </p-iconfield>
        </div>
    </ng-template>
    <ng-template #header>
        <tr>
            <th>ردیف</th>
            <th pSortableColumn="id">آی دی<p-sortIcon field="id" /></th>
            <th pSortableColumn="status.title">وضعیت زائر<p-sortIcon field="status.title" /></th>
            <th pSortableColumn="inverseLeader.length">تعداد همراه <p-sortIcon field="inverseLeader.length" /></th>
            <th pSortableColumn="firstName">نام <p-sortIcon field="firstName" /></th>
            <th pSortableColumn="lastName">نام خانوادگی <p-sortIcon field="lastName" /></th>
            <th pSortableColumn="notFilledMandoryFields.length">وضعیت فرم<p-sortIcon
                    field="notFilledMandoryFields.length" /></th>
            <th pSortableColumn="nationalNumber">کد ملی <p-sortIcon field="nationalNumber" /></th>
            <th pSortableColumn="phoneNumber">شماره موبایل <p-sortIcon field="phoneNumber" /></th>
            <th pSortableColumn="createdDate">تاریخ ثبت‌نام <p-sortIcon field="createdDate" /></th>
            <th pSortableColumn="trackingCode">کد رهگیری <p-sortIcon field="trackingCode" /></th>
        </tr>
        <tr class="filter-div">
            <th></th>
            <th></th>
            <th><p-columnFilter matchMode="contains" type="text" field="status.title"></p-columnFilter></th>
            <th></th>
            <th><p-columnFilter matchMode="contains" type="text" field="firstName"></p-columnFilter></th>
            <th><p-columnFilter matchMode="contains" type="text" field="lastName" /></th>
            <th></th>
            <th><p-columnFilter matchMode="contains" type="text" field="nationalNumber" /></th>
            <th><p-columnFilter matchMode="contains" type="text" field="phoneNumber"></p-columnFilter></th>
            <th></th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template #body let-applicant let-index="rowIndex">
        <tr>
            <td>{{index+1}}</td>
            <td>{{applicant.id}}</td>
            <td><i (click)="openChangeStatusDialog(applicant,index)"
                    class="cursor-pointer text-orange-500 pl-2 pi pi-arrow-right-arrow-left"></i>
                {{applicant.status?.title}} </td>
            <td>@if(applicant.inverseLeader.length){<i (click)="openMembersDialog(applicant)"
                    class="pi pi-eye cursor-pointer text-primary pr-2"></i>}
                {{applicant.inverseLeader.length}}</td>
            <td>{{applicant.firstName}}</td>
            <td>{{applicant.lastName}}</td>
            <td> <span
                    [ngClass]="{'text-red-500':applicant.notFilledMandoryFields?.length,'text-green-500':!applicant.notFilledMandoryFields?.length}">{{applicant.notFilledMandoryFields?.length}}</span>
            </td>
            <td><i (click)="gotoForm(applicant)"
                    class="cursor-pointer text-primary pi pi-address-book pl-2"></i>{{applicant.nationalNumber}}</td>
            <td>{{applicant.phoneNumber}}</td>
            <td>{{applicant.createdDate|persianDate:true }}</td>
            <td>{{applicant.trackingCode}}</td>
        </tr>
    </ng-template>
    <ng-template #emptymessage>
        <tr>
            <td colspan="7">No applicants found.</td>
        </tr>
    </ng-template>
</p-table>
<p-dialog header="تغییر وضعیت زائر" [modal]="true" [(visible)]="showChangeStatusDialog">
    @if(selectedApplicant){
    <div>
        نام و نام خانوادگی : {{selectedApplicant.firstName}}-{{selectedApplicant.lastName}}
    </div>
    <div>
        کدملی: {{selectedApplicant.nationalNumber}}
    </div>
    <div>وضعیت فعلی: {{selectedApplicant.status?.title}}</div>
    <div>تغییر وضعیت به: </div>
    <div>
        <p-selectbutton [options]="selectedRegStep.regStepStatuses" [(ngModel)]="newStatusId" optionLabel="title"
            optionValue="id" />
    </div>
    <div class="flex justify-end gap-2 mt-2">
        <p-button label="انصراف" severity="secondary" (click)="showChangeStatusDialog = false" />
        <p-button label="اعمال تغییرات" (click)="changeStatus()" />
    </div>
    }
</p-dialog>

<p-dialog [modal]="true" [(visible)]="showFormModal" closeOnEscape="true">
    <ng-template #header>
        <div class="grid">
            <div class="col-12">
                @if(isMember){
                    فرم همراه
                }@else {
                    فرم زائر اصلی
                }
            </div>
            <div class="col-12">
                <textarea [(ngModel)]="applicantDescription" name="applicantDescription" pTextarea style="width: 100%;font-size: x-small;"></textarea>
                <p-button icon="pi pi-save" (onClick)="saveDescription($event)" size="small"></p-button>
            </div>
        </div>
    </ng-template>
    @if(formData){
    <div>نام: {{formData['firstName']}}</div>
    <div>نام خانوادگی: {{formData['lastName']}}</div>
    <div>کدملی: {{formData['nationalNumber']}}</div>
    <div>موبایل: {{formData['phoneNumber']}}</div>
    @for (field of fieldsToShow; track $index) {
    <div>
        {{field.title}}:
        @if(field.fieldTypeId==FIELD_TYPE_ENUM.Image){
        <div><img src="{{formData[field.id]}}" style="    max-width: 20rem;"></div>
        }@else if(field.fieldTypeId==FIELD_TYPE_ENUM.Date){
        @if(formData[field.id]){
        {{formData[field.id]|persianDate}}
        }
        } @else{

        {{formData[field.id]}}
        }
    </div>
    }
    }
</p-dialog>
<p-dialog header="همراهان" [modal]="true" [(visible)]="showMembersDialog" closeOnEscape="true"
    [style]="{'min-width':'50vw'}">
    @if(selectedApplicant){
    @for (member of selectedApplicant.inverseLeader; track $index) {
    <div class="grid">
        <div class="col">{{member.id}}</div>
        <div class="col">{{member.firstName}}</div>
        <div class="col">{{member.lastName}}</div>
        <div class="col">{{member.nationalNumber}}</div>
        <div class="col">{{member.phoneNumber}}</div>
        <div class="col"><i class="pi pi-address-book cursor-pointer text-primary" (click)="gotoForm(member,true)"></i>
        </div>
    </div>
    }
    }

</p-dialog>
<p-confirmpopup />