<div class="m-2 text-center">
    @if(applicantStatus){
    <p-message [severity]="
        (applicantStatus.isWaiting || applicantStatus.isNotChecked?'info':
        applicantStatus.isRejected?'error':
        applicantStatus.isAccepted?'success':'warn')
        " icon="pi pi-info-circle">
        {{applicantStatus.publicMessage}}
    </p-message>
    }
</div>
@if (regSteps) {

<p-accordion [value]="[applicantInfo.regStepId || regSteps[0].id]" [multiple]="true">
    @for (step of regSteps; track $index) {
    <p-accordion-panel [value]="step.id">
        <p-accordion-header [ngClass]="getClass(step)">
            <div class="col-auto">{{step.order}}- {{step.title}}</div>
            @if (applicantInfo.regStepId>step.id) {
            <div class="col text-left">
                <i class="pi pi-check-square" style="font-size: 1.2rem"></i>
            </div>
            }@else if(applicantInfo.regStepId<step.id){ <div class="col text-left">
                <i class="pi pi-clock" style="font-size: 1.2rem"></i>
                </div>
                }@else {
                @if(this.applicantInfo.isWaiting){
                <div class="col text-left">
                    <i class="pi pi-hourglass" style="font-size: 1.2rem"></i>
                    {{this.applicantInfo.statusTitle}}
                </div>
                }
                @else if(this.applicantInfo.isNotChecked){
                <div class="col text-left">
                    <i class="pi pi-question-circle" style="font-size: 1.2rem"></i>
                    {{this.applicantInfo.statusTitle}}
                </div>
                } @else if(this.applicantInfo.isRejected){
                <div class="col text-left">
                    <i class="pi pi-ban" style="font-size: 1.2rem"></i>
                    {{this.applicantInfo.statusTitle}}
                </div>
                }@else if(this.applicantInfo.isReserved){
                <div class="col text-left">
                    <i class="pi pi-exclamation-circle" style="font-size: 1.2rem"></i>
                    {{this.applicantInfo.statusTitle}}
                </div>
                }@else if(this.applicantInfo.isAccepted){
                <div class="col text-left">
                    <i class="pi pi-check-square" style="font-size: 1.2rem"></i>
                    {{this.applicantInfo.statusTitle}}
                </div>
                }
                }
        </p-accordion-header>
        <p-accordion-content>
            @if(step.description){
            <div class="p-3">
                <p-card>
                    <div class="text-right font-bold">
                        توضیحات مرحله:
                    </div>
                    <div class="text-justify">
                        {{step.description}}
                    </div>
                </p-card>
            </div>
            }
            <!-- <p-divider></p-divider> -->
            <div class="text-center">
                @if(applicantInfo.regStepId==step.id){

                @if(step.stepId==STEP_ENUM.FillForm){
                @if(!this.applicantStatus || this.applicantStatus.isWaiting){
                <div>
                    <strong>جهت پر کردن فرم روی دکمه زیر کلیک کنید</strong>
                </div>
                <div class="mt-3">
                    <p-button severity="success" class="mt-2" (onClick)="fillForm(step.id,false)">پرکردن فرم</p-button>
                </div>
                }
                @else {
                <div>
                    <strong>شما قبلا فرم را پرکرده اید. جهت مشاهده فرم خود روی دکمه زیر کلیک کنید</strong>
                </div>
                <div class="m-3">
                    <p-button severity="info" size="small" class="mt-2" (onClick)="fillForm(step.id,true)">مشاهده
                        فرم</p-button>
                </div>
                }

                @if(currentRegStep.memberLimit){
                <p-card>
                    <div class="text-right font-bold">همراهان:</div>
                    <div class="text-justify">{{currentRegStep.addMemberDescription}}</div>
                    @if(this.applicantStatus.isWaiting){
                    <div class="mt-2">
                        <strong>جهت افزودن همراه جدید روی دکمه زیر کلید نمایید</strong>
                    </div>
                    <div><p-button size="small" (onClick)="addMember()">افزودن همراه</p-button></div>
                    }
                    @if(members?.length){
                    <div class="mt-3">
                        <p-table [value]="members" stripedRows size="small" [tableStyle]="{'width': '30rem'}">
                            <ng-template #header>
                                <tr>
                                    <th>عملیات</th>
                                    <th>نام</th>
                                    <th>نام خانوادگی</th>
                                    <th>شماره ملی</th>
                                    <th>موبایل</th>
                                </tr>
                            </ng-template>
                            <ng-template #body let-member let-index="rowIndex">
                                <tr>
                                    <td>
                                        @if(!member.statusId && (!this.applicantStatus ||
                                        this.applicantStatus.isWaiting)){
                                        <p-button (onClick)="fillForm(step.id,false,member)" size="small"
                                            icon="pi pi-pen-to-square"></p-button>
                                        }@else{
                                        <p-button (onClick)="fillForm(step.id,true,member)" size="small" severity="info"
                                            icon="pi pi-eye"></p-button>
                                        }
                                        @if(!this.applicantStatus || this.applicantStatus.isWaiting){
                                        <p-button class="pr-2" size="small" severity="danger"
                                            [disabled]="!this.applicantStatus.isWaiting"
                                            (onClick)="removeMember(member,index)" icon="pi pi-trash"></p-button>
                                        }
                                    </td>
                                    <td>{{member.firstName}}</td>
                                    <td>{{member.lastName}}</td>
                                    <td>{{member.nationalNumber}}</td>
                                    <td>{{member.phoneNumber}}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                    }
                    @if(this.applicantStatus.isWaiting){
                    <div class="mt-3">
                        چنانچه همراهی ندارید یا اطلاعات همراهان خود را کامل کرده اید، لطفا روی دکمه زیر کلیک نمایید.
                        <div><strong class="text-red-500">بررسی اطلاعات شما و ادامه فرایند ثبت‌نام منوط به کلیک کردن روی
                                دکمه زیر می باشد</strong></div>
                    </div>
                    <div class="mt-3">
                        <p-button severity="danger" (onClick)="openFinishModal()">اتمام فرایند</p-button>
                    </div>
                    }
                </p-card>
                }

                }@else if(step.stepId==STEP_ENUM.PayExpense){
                <div>
                    <strong>برای پرداخت هزینه روی دکمه زیر کلیک نمایید</strong>
                </div>
                <div class="mt-3">
                    <p-button severity="success" class="mt-2" (onClick)="payExpense(step)">پرداخت</p-button>
                </div>
                }@else(){
                }
                }

            </div>
        </p-accordion-content>
    </p-accordion-panel>
    }
</p-accordion>
}
<p-dialog header="همراه جدید" [modal]="true" [(visible)]="showAddMemberDialog" [style]="{ width: '25rem' }">
    <form [formGroup]="addMemberFormGroup">
        <div class="col-12">
            <p-floatlabel variant="on">
                <input class="w-full" pInputText id="firstName" formControlName="firstName" autocomplete="off" />
                <label for="firstName">نام</label>
            </p-floatlabel>
        </div>
        <div class="col-12">
            <p-floatlabel variant="on">
                <input class="w-full" pInputText id="lastName" formControlName="lastName" autocomplete="off" />
                <label for="lastName">نام خانوادگی</label>
            </p-floatlabel>
        </div>
        <div class="col-12">
            <p-floatlabel variant="on">
                <input class="w-full" pInputText id="nationalCode" formControlName="nationalCode" autocomplete="off" />
                <label for="nationalCode">کد ملی</label>
            </p-floatlabel>
        </div>
        <div class="col-12">
            <p-floatlabel variant="on">
                <input class="w-full" pInputText id="mobile" formControlName="mobile" autocomplete="off" />
                <label for="mobile">شماره موبایل</label>
            </p-floatlabel>
        </div>
        <p-divider></p-divider>
        <div class="grid mt-4">
            <div class="col text-right">
                <p-button (onClick)="submitMember()">ثبت</p-button>
            </div>
            <div class="col text-left">
                <p-button label="" severity="danger" (onClick)="closeModal()">انصراف</p-button>
            </div>
        </div>
    </form>
</p-dialog>
<p-dialog header="حذف همراه" [modal]="true" [(visible)]="showRemoveDialog" [style]="{ width: '25rem' }">
    @if(selectedMemberToRemove){

    <div class="col-12 mt-4">
        <span>آیا از حذف '{{selectedMemberToRemove.firstName}} {{selectedMemberToRemove.lastName}}' اطمینان
            دارید؟</span>
        <div>این عملیات برگشت ناپذیر می‌باشد!</div>
    </div>
    <div class="grid mt-4">
        <div class="col text-right">
            <p-button (onClick)="confirmRemoveMember()">بله</p-button>
        </div>
        <div class="col text-left">
            <p-button label="" severity="danger" (onClick)="closeRemoveModal()">انصراف</p-button>
        </div>
    </div>
    }
</p-dialog>
<p-dialog header="اتمام فرایند {{currentRegStep.title}}" [modal]="true" [(visible)]="showFinishDialog"
    [style]="{ width: '25rem' }">
    <div class="col-12 mt-4">
        <div>زائر گرامی!</div>
        <div>
            با انتخاب این گزینه، شما اعلام می‌دارید که تمامی اطلاعات مربوط به خود و همراهان‌تان را به‌طور کامل و صحیح
            وارد کرده‌اید.
            لطفاً توجه داشته باشید که پس از تأیید، امکان تغییر یا ویرایش اطلاعات وجود نخواهد داشت.
            آیا از صحت اطلاعات ثبت‌شده اطمینان دارید؟
        </div>
    </div>
    <div class="grid mt-4">
        <div class="col text-right">
            <p-button (onClick)="confirmFinish()">بله</p-button>
        </div>
        <div class="col text-left">
            <p-button label="" severity="danger" (onClick)="closeFinishModal()">انصراف</p-button>
        </div>
    </div>

</p-dialog>