/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: IRANsans;
    src: url('assets/Fonts/IRANSansWeb.woff');
}
*{
    font-family: IRANsans;
}