/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: IRANsans;
    src: url('/Fonts/FaNum/IRANSansWeb_FaNum.woff');
}

$primary-color: #11afa8;
$second-color: #ffbe00;

.bg-second {
    background: $second-color;
}

:root {
    --p-primary-color: #11afa8 !important
}

*:not(i):not(.pi):not(.fa):not(.material-icons) {
    font-family: IRANsans;
}

.app-dark-style {
    background-color: initial;
}

.text-primary {
    color: $primary-color;
}

body {
    margin-top: 4rem;
    margin-bottom: 4rem;

    background-image: url(/images/tile.png);
    background-repeat: repeat;
    background-size: 50px 40px;
}
.align-center{
    align-items: center !important;
}